<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
    <property name="hibernate.connection.username">cesfam_dba</property>
    <property name="hibernate.connection.password">cesfam</property>
    <mapping resource="cl/cesfam/ENTITY/Medico.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/MotivoCaducar.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/FormularioMedicamento.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/EstadoPrescripcion.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Reserva.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/FuncionarioFarmacia.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Caducar.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Composicion.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Prescripcion.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Partida.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Paciente.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Componente.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/Medicamento.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/DetalleEntrega.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/TipoPrescripcion.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/EstadoCaducar.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/DetallePartida.hbm.xml"/>
    <mapping resource="cl/cesfam/ENTITY/EstadoReserva.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
